{% extends 'Covid_homepage.html' %} {% block content %}
<div class="jumbotron">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Country</th>
                <th scope="col">TotalConfirmed</th>
                <th scope="col">NewConfirmed</th>
                <th scope="col">TotalDeaths</th>
                <th scope="col">NewDeaths</th>
                <th scope="col">TotalRecovered</th>
                <th scope="col">NewRecovered</th>
            </tr>
            <tbody>
                {% for country in country %}
                <tr class="table-info">
                    <th scope="row">{{ country.Country }}</th>
                    <td>{{ country.TotalConfirmed }}</td>
                    <td><strong>+</strong>{{ country.NewConfirmed }}</td>
                    <td>{{ country.TotalDeaths }}</td>
                    <td><strong>+</strong>{{ country.NewDeaths }}</td>
                    <td>{{ country.TotalRecovered }}</td>
                    <td><strong>+</strong>{{ country.NewRecovered }}</td>

                    {% endfor %}
            </tbody>
    </table>

</div>
{% endblock %}